body{
  font-size: 16px;
  line-height: 20px;
  @extend %nb-400;
  color: #000;
}
.container{
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn{
  text-align: center;
  display: inline-block;
  color: #fff;
  @extend %nb-700;
  font-size: 18px;
  line-height: 24px;
  padding: 20px 40px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #008BCE;
  box-shadow: inset 0px 18px 30px rgba(255, 255, 255, 0.25), inset 0px -4px 0px rgba(0, 0, 0, 0.25);
  transition: .2s;
  &:hover{
      box-shadow: inset 0px 30px 30px rgba(255, 255, 255, 0.35), inset 0px -4px 0px rgba(0, 0, 0, 0.25);
    }
    &:active{
      box-shadow: inset 0px -30px 30px rgba(255, 255, 255, 0.35);
    }
}

.play{
  display: inline-block;
  width: 82px;
  height: 82px;
  background: #D76E33;
  box-shadow: inset 0px 18px 30px rgba(255, 255, 255, 0.25),inset 0px -4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  background-image: url(../images/icons/play.svg);
  background-position: center;
  background-repeat: no-repeat;
  transition: .2s;
  &:hover{
    box-shadow: inset 0px 18px 30px rgba(255, 255, 255, 0),inset 0px -4px 0px rgba(0, 0, 0, 0.25);
  }
  &:active{
    box-shadow: inset 0px 18px 30px rgba(255, 255, 255, 0.25);
  }
}

.title{
  font-size: 32px;
  line-height: 41px;
  @extend %nb-700;
  margin-bottom: 40px;
  text-align: center;
}